*{
	box-sizing: border-box;
}
.main{
	width: 1336px;
	height: 2070px;
}
.wrapper{
	width: 1336px;
	height: 2070px;
	
	margin: 0 auto;

}
.conteiner{
	display: flex;
	width: 1005px;
	height: 803px;
	margin: 0 auto;
}
.book{
	margin-top:77px;
	width: 404px;
	height: 630px;
	margin-right:74px;
	
}
.text{
	width: 527px;
	height: 435px;
	
	margin-top:137px;
}
h1{
	font-size: 48px;
	font-weight: 700;
	margin:0;
}
.subtitle{
	font-size: 30px;
	font-weight: 400;
}
.text p{
	font-size: 18px;
	line-height: 27px;
	margin-bottom:47px;
}
.buy{
	width: 175px;
	height: 67px;
	border-radius: 5px;
	background-color: #f05a22;
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	line-height: 27px;
	border: 0;
	margin-right:40px;
}
.details{
	width: 282px;
	height: 67px;
	border-radius: 5px;
	border: 2px solid #f05a22;
	color: #f05a22;
	font-size: 24px;
	font-weight: 700;
	line-height: 27px;
	background-color: white;
}
button:focus { 
	outline: none; 
	}
.price{
	font-size: 48px;
	font-weight: 400;
	line-height: 27px;
}
.text button{
	margin-top:54px;
}


/* Секция вторая*/
.conteiner_two{
	width: 100%;
	height: 408px;
	border: 1px solid #ffffff;
	background-color: #f2f2f2;
}
.delivery{
	display: flex;
	justify-content: space-around;
}
.conteiner_two h2{
	text-align:center;
	font-size: 30px;
	font-weight: 700;
	line-height: 27px;
	margin-top:89px;
}
.conteiner_two span{
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	color: #333333;
}
.block_1{
width: 181px;
height: 102px;
}
.block_2{
width: 241px;
height: 102px;
}
.block_3{
width: 194px;
height: 101px;
}
.block_4{
width: 194px;
height: 104px;
}
.block{
	text-align: center;
	margin-top:91px;
}
/*Третия секция*/
.conteiner_three{
	text-align: center;
}
.conteiner_three h2{
	font-size: 30px;
	font-weight: 700;
	line-height: 27px;
	margin-top:89px;
}
.photo img{
	width: 261px;
	height: 261px;
	margin-right: 31px;
	margin-top:40px;
}
.flexphoto{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}