*{
	box-sizing: border-box;
}
body{
	background-image: url(../img/fon_2.jpg) ;
	background-size: cover;
}
h1{
	text-align: center;
	color:white;
}
.wrapper{
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.conteiner{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
    text-align: center;
	width:263px;
	height: 366px;
	border:2px solid red;
	margin-bottom: 30px;
	
}
span{
	color:white;
	margin-bottom:20px;
}
.conteiner img{
	widows: 263px;
	height: 180px;
}
.img{
	width: 263px;
	height: 184px;
	
}
a{
	text-decoration: none;
	color:red;
}